{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": [
        "*.erb",
        "*.html.erb"
      ],
      "options": {
        "parser": "html",
        "printWidth": 120,
        "tabWidth": 2,
        "useTabs": false,
        "htmlWhitespaceSensitivity": "ignore",
        "embeddedLanguageFormatting": "auto",
        "bracketSameLine": false
      }
    }
  ]
}