{
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": [
        "*.erb",
        "*.html.erb"
      ],
      "options": {
        "parser": "html"
      }
    }
  ]
}