<div class="border-gray flex items-center justify-between border-b-2 px-8 py-4">
  <h1 class="text-theme text-2xl font-bold italic">TOPI LOG</h1>
  <nav>
    <ul class="flex items-center justify-center space-x-4">
      <li>
        <%= link_to "ログイン", "#", class: "inline-block bg-theme rounded-full
        px-5 py-1 text-primary font-semibold" %>
      </li>
      <li>
        <%= button_to "ログアウト", "#", class: "inline-block border-2
        border-theme rounded-full px-5 py-1 text-theme font-semibold" %>
      </li>
      <li>
        <%= link_to "マイページ", "#", class: "inline-block bg-theme
        rounded-full px-5 py-1 text-primary font-semibold" %>
      </li>
    </ul>
  </nav>
</div>
